body{
    text-align: center;
    background-image: url(forest.jpg);
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-weight: bold;
}

h1{
    color: goldenrod;
}
#message{
    font-style: italic;
}
#startbutton{
    background-color: goldenrod;
    width: 150px;
    color: #016f32;
    border-style: none;
    padding: 7px;
    border-radius: 2px;
    margin-bottom: 4px;
}
#newcard{
    background-color: goldenrod;
    width: 150px;
    color: #016f32;
    border-style: none;
    padding: 7px;
    border-radius: 2px;
   
    

}